{% extends 'core/base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m7">
      <h1>Models</h1>
      {% if access_records %}
        <table>
          <thead>
            <th> id </th>
            <th> Group(model_name) </th>
            <th> Alphas </th>
            <th> Betas </th>
            <th> Status </th>
            <th> Dimension/Options </th>
            <th> Max workers</th>
            <th> Updated </th>
          </thead>
          {% for grp in access_records %}
            <tr>
              <td>{{ grp.id }}</td>
              <td>{{ grp.model_name }}</td>
              <td>{{ grp.alphas }}</td>
              <td>{{ grp.betas }}</td>
              <td>{{ grp.status }}</td>
              <td>{{ grp.options }}</td>
              <td>{{ grp.max_workers }}</td>
              <td>{{ grp.updated_at }}</td>
            </tr>    
          {% endfor %}
        </table>
      {% else %}
        <p> No records found</p>
      {% endif %}      
    </div>
  </div>  
</div>
{% endblock content %}