aioice==0.7.5
aiortc==1.2.1
appdirs==1.4.4
apturl==0.5.2
ascii-magic==1.6
attrs==19.3.0
autodp==0.2
av==8.0.3
bcrypt==3.2.0
black==21.9b0
blinker==1.4
Brlapi==0.7.0
cached-property==1.5.1
cachetools==4.2.4
certifi==2019.11.28
cffi==1.15.0
chardet==3.0.4
Click==7.0
colorama==0.4.3
command-not-found==0.3
cryptography==35.0.0
cupshelpers==1.0
dbus-python==1.2.16
defer==1.0.6
distro==1.4.0
distro-info===0.23ubuntu1
dnspython==2.1.0
docker==4.1.0
docker-compose==1.25.0
dockerpty==0.4.1
docopt==0.6.2
dpcontracts==0.6.0
email-validator==1.1.3
entrypoints==0.3
Flask==1.1.4
forbiddenfruit==0.1.4
google-crc32c==1.3.0
gpg===1.13.1-unknown
greenlet==1.1.2
httplib2==0.14.0
idna==2.8
importlib-metadata==1.5.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.1.0
jsonschema==3.2.0
keyring==18.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
loguru==0.5.3
louis==3.12.0
macaroonbakery==1.3.1
MarkupSafe==2.0.1
more-itertools==4.2.0
mpmath==1.2.1
mypy-extensions==0.4.3
names==0.3.0
nest-asyncio==1.5.1
netifaces==0.10.4
numpy==1.21.3
oauthlib==3.1.0
olefile==0.46
packaging==21.0
pandas==1.3.3
pathspec==0.9.0
pexpect==4.6.0
Pillow==7.0.0
platformdirs==2.4.0
pluggy==1.0.0
protobuf==3.18.1
py==1.10.0
pyarrow==5.0.0
pycairo==1.16.2
pycparser==2.20
pycups==1.9.73
pycurl==7.43.0.2
pydantic==1.8.2
pyee==8.2.2
PyGObject==3.36.0
PyJWT==1.7.1
pylibsrtp==0.6.8
pymacaroons==0.13.0
pymbolic==2021.1
PyNaCl==1.4.0
pyparsing==3.0.1
PyQt5==5.14.1
pyRFC3339==1.1
pyrsistent==0.15.5
PySimpleSOAP==1.16.2
PySocks==1.6.8
pytest==6.2.5
python-apt==2.0.0+ubuntu0.20.4.6
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-debianbts==3.0.2
pytools==2021.2.8
pytz==2019.3
pyxdg==0.26
PyYAML==6.0
regex==2021.10.23
reportbug===7.6.0ubuntu1
reportlab==3.5.34
requests==2.25.1
requests-toolbelt==0.9.1
requests-unixsocket==0.2.0
scikit-learn==1.0.1
scipy==1.7.1
SecretStorage==2.3.1
simplejson==3.16.0
sip==4.19.21
six==1.14.0
SQLAlchemy==1.4.25
sqlitedict==1.7.0
-e git+git@github.com:OpenMined/PySyft.git@7b8fc8c5cec434a1635066dabf4911736f3a5f1c#egg=syft&subdirectory=packages/syft
syft-proto==0.5.3
sympy==1.9
systemd-python==234
texttable==1.6.2
threadpoolctl==3.0.0
toml==0.10.2
tomli==1.2.1
torbrowser-launcher==0.3.2
torch==1.8.1
torchcsprng==0.2.1
torchvision==0.9.1
typing-extensions==3.10.0.2
ubuntu-advantage-tools==27.5
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
wadllib==1.3.3
websocket-client==1.2.1
Werkzeug==1.0.1
wrapt==1.13.1
xkit==0.0.0
zipp==1.0.0
